html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  /* border: 1px solid black; */
}

:root {
  --persian-green: #1b998b;
  --persian-green-hover: rgb(30, 173, 156);
  --indigo-dye: #033f63ff;
  --aero-blue: #8BF9C7;
  --off-white: #ffffffdb;
  --green: #1b998b;
  --black: #000000;
  --melon: #fcbfb7ff;
  --earth-yellow: rgb(233, 216, 160);
}

body {
  background-color: var(--off-white);
  color: var(--black);
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
}

#wrapper {
  background-color: var(--off-white);
  border: 1px solid var(--off-white);
  height: 92vh;
  width: 96vw;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

/*------------------------------Header----------------------------*/

header {
  display: flex;
  font-weight: 200;
  /* border: 1px solid black; */
}

nav:last-of-type {
  margin-left: auto;
}

#icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.2em;
}

#icons > i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

nav {
  margin-right: 2em;
}

#nav-bar {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

#nav-bar > li {
  margin-left: 4em;
  padding: 0;
  cursor: pointer;
}

.underline {
  letter-spacing: 0.05em;
  position: relative;
}

.underline:hover {
  box-shadow: 0 5px 0 0 var(--aero-blue);
}

#mode-switch {
  padding: .1em .2em .1em 2em !important;
  position: relative;
  top: -1px;

  background-color: var(--aero-blue);
  border-radius: 20px;
}


/*------------------------------Body------------------------------*/

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

#hero {
  margin-top: 15em;
  margin-left: 2em;
}

#name {
  font-size: 6em;
}

#sub-name {
  font-size: 1.2em;
  padding-left: .3em;
}

#chat-box-container {
  display: flex;
  position: relative;
  right: 2em;
  top: 7.5em;
  height: 45vh;
  width: 30vw; /* Responsive Check */
  overflow: scroll;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
  /* background-color: var(--persian-green); */

  border-radius: 20px;
}

#chat-box {
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* flex-direction: row-reverse; */
  
}

#chat-box > #messages {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-inline-start: 40px;
}

.chat-text {
  background-color: var(--aero-blue);
  border-radius: 20px;
  padding: .5em;
  margin: .25em;
  width: fit-content;
  font-size: 1.5em;
  font-weight: 200;
}

#response {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-inline-start: 40px;
  margin-left: auto;
}

.response-text {
  background-color: var(--indigo-dye);
  color: white;
  border-radius: 20px;
  padding: .5em;
  margin: .25em;
  width: fit-content;
  font-size: 1.5em;
  font-weight: 200;
  margin-right: auto !important;
  text-align: left !important;
}

/*------------------------------Footer----------------------------*/

#input-field {
  position: relative;
  top: 3em;
  right: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 20vh;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid black; */
}

#input-field > input {
  font-family: 'Work Sans', sans-serif;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 30vw;
  height: 3em;
  text-align: left;
  padding-left: 1em;
}


