@import '~styles/utilities/_palette.scss';

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $size_128px;
  border-bottom: $divider-border;

  .titleContainer {
    width: 40%;
    display: flex;
    height: fit-content;
    overflow: hidden;

    .title {
      display: flex;
      align-items: center;
      &::before {
        counter-increment: number;
        content: '0' counter(number);
        margin-right: $size_8px;
        margin-bottom: $size_12px;

        color: $inactive-clr;
        font-size: $size_12px;
      }
    }
  }

  .techContainer {
    width: 40%;
    display: flex;
    align-items: center;
    height: fit-content;
    overflow: hidden;

    .tech {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: $size_12px;
    }
  }

  .arrow {
    display: flex;
    align-items: center;
    font-size: $size_24px;
    color: black;
    scale: 1;

    svg {
      transition: $transition-speed;
      &:hover {
        scale: 1.1;
        color: $accent-clr;
      }
    }
  }
  
  &::after {
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: width .6s;
  }

  &:hover {
    .arrow {
      svg {
        transition: $transition-speed;
        scale: 1.1;
        color: $accent-clr;
      }
    }

    &::after {
      width: 100%;
    }
  }
}
