@import '~styles/utilities/palette.scss';


@mixin paddingScale {
  @media (max-width: 1300px) {
    padding-bottom: $size_96px;
  }

  @media (max-width: 800px) {
    padding-top: 0;
    padding-bottom: $size_48px;
  }

  @media (max-width: 600px) {
    padding-bottom: $size_38px;
  }
}

.container {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    gap: $size_4px;
  }
  width: 100%;
  max-width: $max-width;
  padding-top: $size_64px;
  padding-bottom: $size_138px;

  @include paddingScale;
}