//* === Sizing === // 

@function toRem($value) {
  $rem: ($value / 16) + rem;
  @return $rem;
}

$size_4px: toRem(4);
$size_8px: toRem(8);
$size_12px: toRem(12);
$size_14px: toRem(14);
$size_16px: toRem(16);
$size_18px: toRem(18);
$size_20px: toRem(20);
$size_24px: toRem(24);
$size_32px: toRem(32);
$size_48px: toRem(48);
$size_52px: toRem(52);
$size_64px: toRem(64);
$size_96px: toRem(96);
$size_128px: toRem(128);
$size_192px: toRem(192);
$size_256px: toRem(256);
$size_384px: toRem(384);
$size_420px: toRem(460);
$size_512px: toRem(512);
$size_640px: toRem(640);
$size_768px: toRem(768);
$size_960px: toRem(960);

$padding-desktop: $size_32px;
$max-width: 1400px;
$divider-border: 1px solid rgba(0, 0, 0, 0.2);

//* === Color === //

$accent-clr: red;

//* === Fonts === //

@mixin ff-primary {
  font-family: 'Poppins';
}

