@import '~styles/utilities/_palette.scss';

.container {
  display: flex;
  flex-direction: column;

  max-width: $max-width;
  width: 100%;

  padding-block: $size_128px;
  border-block: $divider-border;

  .heading {
    display: flex;
    flex-direction: column;
    gap: $size_8px;
    width: fit-content;

    h2 {
      display: flex;
      height: fit-content;
      overflow: hidden;
      font-size: $size_64px;
    }

    p {
      display: flex;
      height: fit-content;
      overflow: hidden;
      max-width: 35rem;
    }
  }

  .content {
    padding-top: $size_24px;
    display: flex;
    .images {
      width: 50%;
    }

    .list {
      width: 50%;
      counter-reset: number;
    }
  }
}

//* === Utility === *//

.accent {
  position: relative;
  color: $accent-clr;
  &:hover {
    svg {
      transition: $transition-speed;
      color: $accent-clr;
      scale: 1.1;
    }
  }
}

.arrow {
  position: absolute;
  right: -25%;
  top: -40%;
  font-size: $size_24px;
  color: black;
  scale: 1;

  svg {
    transition: $transition-speed;
    &:hover {
      scale: 1.1;
      color: $accent-clr;
    }
  }
}
