@import '~styles/utilities/_palette.scss';

@mixin paddingScale {
  @media (max-width: 1200px) {
    padding-block: $size_96px;
  }

  @media (max-width: 800px) {
    padding-block: $size_64px;
  }

  @media (max-width: 600px) {
    padding-block: $size_52px;
  }
}

.container {
  display: flex;
  flex-direction: column;

  max-width: $max-width;
  width: 100%;

  padding-block: $size_128px;
  @include paddingScale;
  border-block: $divider-border;

  .heading {
    display: flex;
    flex-direction: column;
    gap: $size_8px;
    width: max-content;
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    padding-top: $size_52px;
    gap: $size_16px;
  }
}

//* === Utility === *//

.accent {
  position: relative;
  color: $accent-clr;
  &:hover {
    svg {
      transition: $transition-speed;
      color: $accent-clr;
      scale: 1.1;
    }
  }
}

.arrow {
  position: absolute;
  right: -25%;
  top: -40%;
  font-size: $size_24px;
  color: black;
  scale: 1;

  svg {
    transition: $transition-speed;
    &:hover {
      scale: 1.1;
      color: $accent-clr;
    }
  }
}
