@import "~styles/utilities/_palette.scss";

.list {
  display: flex;
  flex-direction: column;
  gap: $size_128px;
  @media (max-width: 800px) {
    gap: $size_64px;
  }
  @media (max-width: 600px) {
    gap: $size_24px;
  }
  max-width: $max-width;
  width: 100%;
}