@import '~styles/utilities/palette.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border-top: $divider-border;
  padding-block: $size_16px;

  @media (max-width: 800px) {
    width: 100%;
    height: $size_384px;
    border-top: none;
    border-bottom: $divider-border;
    padding-block: $size_32px;
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: $size_16px;

    .projectNumber {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: $size_12px;
      color: $grey-clr;

      .ascendingNumber {
        &::before {
          content: '/00-' counter(number);
        }
      }
    }

    a {
      overflow: hidden;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: $size_24px;
        overflow: hidden;

        transition: $transition-speed;
        h2 {
          display: flex;
          letter-spacing: -1px;
          overflow: hidden;
          span {
            overflow: hidden;
          }
        }

        .arrow {
          transition: $transition-speed;
        }
      }
      &:hover {
        color: $accent-clr;
        .arrow {
          transform: scale(1.1);
          color: $accent-clr;
        }
      }
    }

    p {
      font-size: $size_14px;
      max-width: 30rem;

      &:last-of-type {
        color: $grey-clr;
      }

      @media (max-width: 605px) {
        font-size: $size_12px;
      }
    }
  }
}
