@import '~styles/utilities/palette.scss';

@mixin textScale {
  @media (max-width: 1550px) {
    font-size: 11vw;
  }

  @media (max-width: 1200px) {
    font-size: 10.5vw;
  }
}

@mixin paddingScale {
  @media (max-width: 1200px) {
    padding-bottom: $size_96px;
  }

  @media (max-width: 800px) {
    padding-bottom: $size_64px;
  }

  @media (max-width: 600px) {
    padding-bottom: $size_52px;
  }
}

.container {
  display: flex;
  justify-content: center;
  max-width: $max-width;
  padding-bottom: $size_128px;
  @include paddingScale;

  h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: $size_138px;
    @include textScale;
    line-height: 1.25;
    letter-spacing: -1px;

    .top {
      display: flex;
      height: fit-content;
      overflow: hidden;

      .accent {
        position: relative;

        //! Temporary Fix
        left: 3vmin;

        color: $accent-clr;

        //! Underline Animation
        &::after {
          position: absolute;
          content: '';
          bottom: 0.5vmin;
          left: 0;
          height: 1vmin;
          background-color: red;
          animation-name: underline;
          animation-delay: 4s;
          animation-duration: 1s;
          animation-fill-mode: forwards;

          @keyframes underline {
            from {
              width: 0;
            }
            to {
              width: 100%;
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      flex-wrap: wrap;
      height: fit-content;
      overflow: hidden;
    }
  }
}
