@import '~styles/utilities/palette.scss';

.container {
  display: flex;
  justify-content: center;
  max-width: $max-width;

  h1 {
    display: flex;
    flex-direction: column;
    font-size: $size_128px;
    line-height: 1.25;


    .top {
      display: flex;
      height: fit-content;
      overflow: hidden;

      .accent {
        color: red;
      }
    }

    .bottom {
      display: inline-block;
      height: fit-content;
      overflow: hidden;
    }
  }
}
