@import '~styles/utilities/palette.scss';

@mixin textScale {
  @media (max-width: 1440px) {
    font-size: 10.5vw;
  }

  @media (max-width: 800px) {
    font-size: 10vw;
  }

  @media (max-width: 600px) {
    font-size: 9.25vw;
  }

  @media (max-width: 400px) {
    font-size: 9vw;
  }
}

.container {
  display: flex;
  justify-content: center;
  max-width: $max-width;

  h1 {
    display: flex;
    flex-direction: column;
    font-size: $size_128px;
    @include textScale;
    line-height: 1.25;

    .top {
      display: flex;
      height: fit-content;
      overflow: hidden;

      .accent {
        position: relative;
        
        //! Temporary Fix
        left: 3vmin;

        color: red;
      }
    }

    .bottom {
      display: flex;
      flex-wrap: wrap;
      height: fit-content;
      overflow: hidden;
    }
  }
}


