@import '~styles/utilities/palette.scss';

@mixin fontScale {
  @media (max-width: 1650px) {
    font-size: $size_14px;
  }

  @media (max-width: 1000px) {
    max-width: 20rem;
  }

  @media (max-width: 800px) {
    max-width: 100%;
    font-size: $size_12px;
  }
}

.container {
  display: flex;
  gap: $size_16px;
  flex-direction: column;
  height: fit-content;
  overflow: hidden;

  font-size: $size_16px;
  max-width: 25rem;
  line-height: 1.5;

  @include fontScale;

  .links {
    display: flex;
    gap: $size_4px;
    flex-direction: column;
    width: 100%;

    .link {
      text-decoration: underline;
      display: flex;
      gap: $size_4px;
      align-items: baseline;
      width: fit-content;
      transition: $transition-speed;
      svg {
        display: flex;
        align-items: center;
      }

      &:hover {
        color: $accent-clr;
      }
    }
  }
}
