@import '~styles/utilities/palette.scss';

@mixin fontScale {
  @media (max-width: 1650px) {
    font-size: 11vw;
  }

  @media (max-width: 1300px) {
    font-size: 10.5vw;
  }

  @media (max-width: 1000px) {
    font-size: 10.25vw;
  }

  @media (max-width: 800px) {
    font-size: 12vw;
  }
}

.container {
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: fit-content;
  overflow: hidden;
  
  font-size: $size_138px;
  @include fontScale;
  letter-spacing: -1px;

  span {
    display: flex;
    overflow: hidden;
    height: fit-content;
    flex-shrink: 0;
  }
}


@mixin fontScaleLarge {
  @media (max-width: 1650px) {
    font-size: 9vw;
  }

  @media (max-width: 1300px) {
    font-size: 8vw;
  }

  @media (max-width: 1000px) {
    font-size: 8vw;
  }

  @media (max-width: 800px) {
    font-size: 10vw;
  }
}

#large {
  font-size: $size_128px;
  @include fontScaleLarge;
}