@mixin focusAnimation {
  a {
    opacity: 1;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.2;
    }
  }
  &:hover {
    a {
      opacity: 0.2;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  @media (max-width: 780px) {
    width: 100%;
  }
  counter-reset: number;
  @include focusAnimation;
}
