@import '~styles/utilities/palette.scss';

.container {
  display: flex;
  align-items: center;
  height: $size_96px;
  margin: auto;
  max-width: 1400px;

  nav {
    display: flex;
    width: 100%;
    font-size: $size_14px;

    .name {
      display: flex;
      width: 30%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: $size_8px;
      width: 40%;
    }

    .links {
      display: flex;
      justify-content: flex-end;
      gap: $size_32px;
      flex: 1;
    }
  }
}
