@import '~styles/utilities/palette.scss';

.container {
  display: flex;
  align-items: center;
  height: $size_128px;
  max-width: $max-width;

  margin: auto;

  nav {
    display: flex;
    width: 100%;
    font-size: $size_14px;

    .name {
      display: flex;
      width: 20%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: $size_8px;
      width: 40%;

      a {
        display: flex;
        align-items: center;
      }
    }

    .links {
      display: flex;
      justify-content: flex-end;
      gap: $size_32px;
      flex: 1;
    }
  }
}
