@import '~styles/utilities/palette.scss';

.container {
  display: flex;
  align-items: center;
  height: $size_128px;
  max-width: $max-width;

  margin: auto;

  nav {
    display: flex;
    width: 100%;
    font-size: $size_14px;
    @media (max-width: 600px) {
      font-size: $size_12px;
    }

    .name {
      display: flex;
      flex-wrap: nowrap;
      flex-shrink: 0;
      padding-right: $size_64px;
      @media (max-width: 940px) {
        padding-right: $size_12px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      gap: $size_8px;
      @media (max-width: 940px) {
        flex: 1;
      }
      span {
        @media (max-width: 940px) {
          display: none;
        }
      }

      a {
        display: flex;
        align-items: center;
      }
    }

    .links {
      display: flex;
      @media (max-width: 940px) {
        display: none;
      }
      
      justify-content: flex-end;
      gap: $size_32px;
      flex: 1;
    }
  }
}
