@import '~styles/utilities/_palette.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 0 1 auto;
  width: 50%;
  overflow: hidden;

  @media (max-width: 1100px) {
    width: 50%;
  }

  @media (max-width: 780px) {
    display: none;
  }

  .image {
    position: absolute;
    object-fit: contain;
    object-position: bottom left;

    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    transform: scale(1.1);
    clip-path: inset(0 100% 0 0%);
    transition: 0.5s;
  }

  .active {
    display: block !important;
    clip-path: inset(0 0 0 0) !important;
    transform: scale(1) !important;
    z-index: 100;
  }
}
