@import "~styles/utilities/_reset.scss";
@import "~styles/utilities/_palette.scss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html:focus-within {
  scroll-behavior: smooth;
}

body {
  @include ff-primary;

  padding-inline: $padding-large;
  @media (max-width: 840px){
    padding-inline: $padding-mid;
  }
  @media (max-width: 600px){
    padding-inline: $padding-small;
  }

  background-color: whitesmoke;
}

p {
  line-height: 2;
}

.grey {
  color: grey;
}
